# Virtual Environments (Built by uv sync)
.venv/
venv/
ENV/

# Python Cache & System Files
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# VS Code User-Specific Interface States
.vscode/project-state
.vscode/tasks.log